ul, #myUL {
    list-style-type: none;
}

#myUL {
    margin: 0;
    padding: 0;
}

.caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
' transform: rotate(90 deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

.nav-custom {
    height: 720px;
    overflow: scroll;
    position: fixed;
    top: 0;
    left: 0;
}

.body {
    margin: 0;
    padding: 0;
}

.hiddenRow {
    padding: 0 !important;
}

.swal2-icon.swal2-question {
    width: 30px;
    height: 30px;
}

.swal2-icon .swal2-icon-content {
    font-size: 1.75em !important;
}

.swal2-container.swal2-center > .swal2-popup {
    width: 300px;
    height: 200px;
}

.swal2-title {
    padding: 0 !important;
    font-size: 20px !important;
}

.swal2-styled {
    padding: 5px 30px !important;
}

.swal2-icon {
    margin-top: 10px !important;
}

input[type=checkbox], input[type=radio] {
    margin-right: 10px !important;
}

.btn-div {
    margin-right: 0px !important;
    margin-left: auto !important;
    width: auto;
    margin-top: 20px;
}

#btn-logout {
    margin-right: 0px;
    margin-left: auto;
}

.desc-th {
    width: 500px;
    display: block;
}

.container {
    max-width: fit-content !important;
}

.modal-body {
    padding-bottom: 0 !important;
}

.custom-control {
    margin-top: 10px;
    margin-bottom: 20px;
}