<div xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic (~{::main})}">
    <main class="container">
        <div class="row">
            <button class="btn btn-warning" id="btn-logout" data-toggle="modal">Logout</button>
        </div>
        <div class="row flex-lg-nowrap mt-3">
            <div class="col mb-3">
                <div class="e-panel card">
                    <div class="card-body">
                        <div class="card-title">
                            <h6 class="mr-2">
                                <span class="d-flex justify-content-between">
                                    <small>Notes List</small>
                                    <small class="htmlcomplete"></small>
                                    <a href="#" data-toggle="modal" class="text-success" data-target="#user-form-modal"><i
                                            class="fa fa-plus"></i></a>
                                </span>
                            </h6>
                        </div>
                        <div class="e-table">
                            <div class="table-responsive table-lg mt-3">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="align-middle">Id</th>
                                        <th scope="col" class="align-middle">Name</th>
                                        <th scope="col" class="align-middle desc-th">Description</th>
                                        <th scope="col" class="align-middle">Type</th>
                                        <th scope="col" class="align-middle">Create At</th>
                                        <th scope="col" class="align-middle">Create By</th>
                                        <th scope="col" class="align-middle">Modified At</th>
                                        <th scope="col" class="align-middle">Modified By</th>
                                        <th scope="col" class="align-middle">Status</th>
                                        <th scope="col" class="align-middle">IsDelete</th>
                                        <th scope="col" class="align-middle">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody class="tbody">
                                    <tr>
                                        <td class="text-nowrap align-middle"></td>
                                        <td class="text-nowrap align-middle"></td>
                                        <td class="text-nowrap align-middle"></td>
                                        <td class="text-nowrap align-middle"></td>
                                        <td class="text-nowrap align-middle"></td>
                                        <td class="text-nowrap align-middle"></td>
                                        <td class="text-nowrap align-middle"></td>
                                        <td class="text-nowrap align-middle"></td>
                                        <td class="text-nowrap align-middle"></td>
                                        <td class="text-nowrap align-middle"></td>
                                        <td class="text-center align-middle">
                                            <div class="btn-group align-top">
                                                <button class="btn btn-sm btn-outline-secondary badge" type="button"><i
                                                        class="fa fa-trash"></i></button>
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-center">
                                <ul class="pagination mt-3 mb-0">
                                    <li class="page-item"><a href="#" class="page-link" onclick="prev()">‹</a></li>
                                    <li class="page-item"><a href="#" class="page-link"><span id="page"></span>/<span
                                            id="totalPage"></span></a></li>
                                    <li class="page-item"><a href="#" class="page-link" onclick="next()">»</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Create Form Modal -->
        <div class="modal fade" role="dialog" tabindex="-1" id="user-form-modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create New Note</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="py-1">
                            <form id="add-department">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" id="name" placeholder="Name" class="form-control">
                                    </div>
                                    Description:
                                    <div id="container">
                                        <div id="editor">

                                        </div>
                                        <div id="toolbar-container"></div>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" data-toggle="collapse" data-target="#list-checkbox" id="customSwitch1">
                                        <label class="custom-control-label" for="customSwitch1">Do you want to add multi checkbox ?</label>
                                    </div>
                                    <div id="list-checkbox">

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input class="btn btn-primary" type="submit" value="Add" id="btn" onclick="add()"
                                           data-dismiss="modal">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
